laboratory works/lab_1/model_lab_1.1.pth
laboratory works/lab_1/word2vec_lab_1.1.1.model
laboratory works/lab_1/word2vec_lab_1.1.1.model.syn1neg.npy
laboratory works/lab_1/word2vec_lab_1.1.1.model.wv.vectors.npy
laboratory works/lab_1/fasttext_lab_1.1.model
laboratory works/lab_1/fasttext_lab_1.1.model.wv.vectors_ngrams.npy
laboratory works/lab_1/word2vec_lab_1.1.model
